@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #FFF;
}


@layer components {
  .btn-primary {
    @apply bg-trndy-secondary dark:bg-trndy-brown ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 text-white py-4 px-6 rounded-lg font-extrabold shadow-lg md:px-12 md:py-6 md:text-2xl;
  }
}