.main {
    width: 100%;
    height: 100vh;
    background-color: #F9F1E6;
}

[data-theme='dark'] .main {
    background-color: #AE3929;
} 

.navigation {
    display: flex;
    justify-content: space-between;
}

.title {
    padding: 24px;
    font-family: "Montserrat", sans-serif;
    color: #D87E24;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
}

[data-theme='dark'] .title {
    color: #F9F1E6;
}



.togglerContainer {
    padding: 28px;
}

.toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 48px;
}

.toggleLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.relative {
    position: relative;
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.toggleOuter {
    display: block;
    background: rgba(75 85 99);
    width: 56px;
    height: 32px;
    border-radius: 9999px;
}

.toggleInner {
    position: absolute;
    left: 4px;
    top: 4px;
    background: #AE3929;
    width: 24px;
    height: 24px;
    border-radius: 9999px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.togglerText {
    margin-left: 12px;
    color: rgb(55 65 81);
    font-weight: 500;
}

[data-theme='dark'] .togglerText {
    color: #F9F1E6;
}

.mainContent {
    display: flex;
}

.mainBanner {
    display: none;
}

.mainInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #6B6463;
    font-weight: 800;
    margin-top: 40px;  
    margin-bottom: 0px;
}

[data-theme='dark'] .mainTitle, [data-theme='dark'] .mainSubTitle {
    color: #F9F1E6;
}

.mainSubTitle {
    color: #6B6463;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 32px;
    font-size: 20px;
    line-height: 28px;
    margin: 40px;
}

.CallToAction {
    display: flex;
    justify-content: center;
}

.ctaButton {
    background-color: #AE3929;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 150ms;
    transition-duration: 300ms;
    color: #fff;
    padding: 16px 24px;
    border-radius: 8px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    box-shadow:  0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.ctaButton:hover {
    transform: scale(1.1);
}

[data-theme='dark'] .ctaButton {
    background-color: #D87E24;
}




@media (min-width: 768px) {
    .title {
        font-size: 48px;
        line-height: 1;
    }

    .mainInfo {
        justify-content: center;
    }

    .mainTitle {
        font-size: 60px;
        line-height: 1;
        margin-top: 128px;
    }

    .mainSubTitle {
        font-size: 24px;
        line-height: 32px;
        margin-top: 64px;
    }

    .ctaButton {
        padding: 24px 48px;
        font-size: 24px;
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 30px;
        line-height: 36px;
    }
}

@media (min-width: 1280px) {
    .togglerContainer {
        padding: 40px;
    }

    .mainBanner {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 40px;
    }

    .mainInfo {
        width: 50%;
    }
}